body{
    background-repeat: no-repeat;
    background-size: initial;
    position: relative;
    background-image: url("../images/field.jpg");
}

.section {
    display: flex;
    justify-content: center;
}

.section > div {
    border: 2px solid black;
    margin: 5px;
}

#leftWing > div{
    width: 650px;
    height: 200px;
    background-color: rgb(255, 255, 255,0.3);
    overflow: auto;
}

#middle > div {
    width: 260px;
    height: 490px;
    background-color: rgb(255, 255, 255,0.3);
    overflow: auto;
}

#rightWing > div {
    width: 650px;
    height: 200px;
    background-color: rgb(255, 255, 255,0.3);
    overflow: auto;
}

.section button {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    font-size: 20px;
    margin-left: 5px;
}

.name {
    border: 1px solid black;
    background-color: yellow;
    width: 100px;
    height: 40px;
    position: relative;
    left: 20px;
    text-align: center;
}

.players {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    list-style-type: none;
}

.player{
    border: 1px solid white;
    margin: 5px;
    padding: 5px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}